* {
    margin: 0;
    padding: 0;
    color: rgb(0, 54, 77)
}

body {
    background-color: #f4f4f4;
}

#container {
    max-width: 100%;
    margin: 0px 30px;
}

.hide {
    display: none;
}

#timerRow {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}

#welcomeRow {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerDiv {
    width: 100%;
}

#welcomeHeader {
    color: #f4f4f4;
    text-align: center;
    background-color: purple;
    font-size: 2.3em;
    padding: 1em;
    border-top: solid 5px #222;
    border-bottom: solid 5px #222;
    margin-bottom: 10px;
}

#welcomeIntro {
    text-align: center;
    font-size: 30px;
    margin: 20px;
}

#startButton {
    font-size: 30px;
    padding: 10px;
    
}

#quizRow {
    display: flex;
    flex-direction: column;
}

#questions {
    text-align: center;
}

#response{
    text-align: center;
    font-weight: bold;
}

button {
    font-size: 18px;
    padding: 10px;
    margin: 5px;
    color: #f4f4f4;
    background-color: purple;
}

#quizEndRow {
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

input {
    font-size: 25px;
}

#submitScore {
    font-size: 25px;
    padding: 3px;
    margin: 5px;
}

#scoreRow {
    margin-top: 25px;
    margin-left: 25px;
}

@media (max-width: 1110px) {
    #welcomeIntro {
        font-size: 25px;
    }
}

@media (max-width: 890px) {
    #welcomeIntro {
        font-size: 20px;
    }
    
    input {
        font-size: 15px;
    }

    #submitScore {
        font-size: 15px;
    }
}

@media (max-width: 540px) {
    .container {
        margin: 0px;
    }

    #welcomeRow {
        margin: 0px;
    }

    .headerDiv {
        width: 100%;
        margin: 0px;
    }

    #welcomeHeader {
        width: 100%;
        font-size: 1.5em;
        margin: 0px;
    }

    #welcomeIntro {
        font-size: 16px;
    }

    #startButton {
        font-size: 1.5em;
        padding: 7px;
    }

    #highScoresButton {
        font-size: .9em;
    }

    #timer {
        font-size: .9em;
    }

    input {
        font-size: 15px;
    }

    #submitScore {
        font-size: 15px;
    }
}